@using LinqToSqlRelationships.Data
@model LinqToSqlRelationships.Web.Models.HomePageViewModel

<table class="table table-bordered">
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Age</th>
        <th>Cars Count</th>
        <th>Actions</th>
    </tr>
    @foreach (Person person in Model.People)
    {
        <tr>
            <td>@person.FirstName</td>
            <td>@person.LastName</td>
            <td>@person.Age</td>
            <td>@person.Cars.Count</td>
            <td>
                <button class="btn btn-danger show" data-person-id="@person.Id">Show Cars</button>
            </td>
        </tr>
    }
</table>

@section scripts
{
    <script src="/Scripts/index.js"></script>
}